:root {
  --primary-color: hsl(220, 67%, 30%);
}

body {
  background: linear-gradient(var(--primary-color), hsl(from var(--primary-color) h s calc(l + 40))) ;
}

.page-container {
  max-width: 1400px;
  margin: 0px auto 0px auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;

  .header {
    font-size: 56px;
    color: hsl(from var(--primary-color) h s calc(l + 70));
  }

  .subheader {
    font-size: 24px;
    color: hsl(from var(--primary-color) h s calc(l + 60));
  }
}